.parent {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  text-align: center;
}

@media (min-width: 600px) {
  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    max-width: 768px;
    padding: 0 0.5rem;
  }
}
